@{
    ViewData["Title"] = "Welcome to Consulting International Group";
}


  <!--========== START COMPONENT BODY LOADING ANIMATION ==========-->
  <div class="component-body-loading-animation body-loading-animation-animate"></div>
  <!--========== END COMPONENT BODY LOADING ANIMATION ==========-->

  <!--========== START COMPONENT SLIDER ==========-->
  <div id="slider-contain" class="component-slider">
    <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(..\lib\img\Main-Logo-Slider_main.png);">
          <img src="..\lib\img\Main-Logo-Slider_main.png" alt="img" />
          <div class="pattern-background">
            <div class="carousel-caption">
              <div class="contain">
                <!-- <img class="logo-slider" src="assets/image/logo-slider.png" alt="Logo"/> -->
                <div class="title">
                  <h1>Welcome To Consulting International Group</h1>
                </div>
                <p class="description">
                  @* &#34;Clean with a Conscience&#34; *@
                </p>
                <div class="button">
                  <a href="#first-scroll" class="btn btn-default">More Info...</a>
                </div>
                <div class="slider-social">
                  <div class="title">&nbsp; </div>
                  @* <ul>
                    <!-- <li><a href="https://www.facebook.com/bruce.kaplan.50" target="_blank"><i
                          class="fa fa-facebook fa-3x"></i></a></li> -->
                    <li><a href="https://www.facebook.com/Q7Clean/" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCBPQkfSobjTjvrc6JCmQ-ow?view_as=subscriber" target="_blank"><i class="fab fa-youtube-square fa-3x"></i></a></li>
                    <li><a href="https://www.instagram.com/q7cleaner/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
                  </ul> *@
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="item" style="background-image: url(..\lib\img\Main-Logo-Slider_3.png);">
            <img src="..\lib\img\Main-Logo-Slider_3.png" alt="img"/>
            <div class="pattern-background">
              <div class="carousel-caption">
                <div class="contain">
                  <img class="logo-slider" src="..\lib\img\logomain.png" alt="Logo"/>
                  <div class="title">
                    <h1>WE ARE CREATIVE</h1>
                  </div>
                  <p class="description">
                    &#34;All things are ready, if our mind be so.&#34;
                  </p>
                  <div class="button">
                    <a href="#first-scroll" class="btn btn-default">More Info...</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <!-- <div class="item" style="background-image: url(assets/image/slider-image-3.jpg);">
            <img src="assets/image/slider-patern-background.png" alt="img"/>
            <div class="pattern-background">
              <div class="carousel-caption">
                <div class="contain">
                  <img class="logo-slider" src="assets/image/logo-slider.png" alt="Logo"/>
                  <div class="title">
                    <h1>WE ARE AWESOME</h1>
                  </div>
                  <p class="description">
                    &#34;All things are ready, if our mind be so.&#34;
                  </p>
                  <div class="button">
                    <a href="#first-scroll" class="btn btn-default">MORE INFO</a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      <a class="left carousel-control" href="#slider" data-slide="prev"><span
          class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#slider" data-slide="next"><span
          class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
  <!--========== END COMPONENT SLIDER ==========-->

  <!--========== START COMPONENT NAVIGATION ==========-->
  <div class="component-navigation" id="first-scroll">
    <div class="container">
      <nav id="scrollSpyMenu" class="navbar">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".component-navigation .navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html"><img class="logo" src="..\lib\img\logomain.png" alt="logo"></a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#about">About Us</a></li>
            <li class="active"><a href="#history">In Memorium</a></li>
            @* <li class="active"><a href="#why-choose">Why Choose Us</a></li>
            <li class="active"><a href="#team">Meet Our Team</a></li>
            <li><a href="#testimony">Testimonials</a></li>
            <li><a href="#portfolio">Product Images</a></li> *@



            <!-- <li class="dropdown">
              <a data-toggle="dropdown" href="#">Products <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="products.html#commercial">Commercial Kitchen Products</a></li>
                <li><a href="products.html#residential">Residential Products</a></li> 
                <li><a href="products.html#marine">Marine Products</a></li>

              </ul>
            </li> -->
            <li><a href="#contact">Contact Us</a></li>
            @* <li>Coming Soon: </li>
            <li><a href="https://www.facebook.com/Q7Clean/" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://www.youtube.com/channel/UCBPQkfSobjTjvrc6JCmQ-ow?view_as=subscriber" target="_blank"><i class="fab fa-youtube-square fa-lg"></i></a></li>
            <li><a href="https://www.instagram.com/q7cleaner/" target="_blank"><i class="fab fa-instagram fa-lg"></i></a></li> *@
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!--========== END COMPONENT NAVIGATION ==========-->

  <!--========== START COMPONENT ABOUT DEVICES ==========-->
  <div class="component-about-devices">
    <div class="container padding-in-box-130-120">
      <div class="title" id="about">
        <h2>About Consulting International Group </h2>
      </div>
      <div class="line-separator">
        <span></span>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>
            TBMF Distributors is dedicated to providing the highest quality, environmentally safe
            products on the market. Our Q7 product line consists of Q7 general degreaser, Q7 oil and
            gas and Q7 commercial kitchen. The Q7 product line contains no inorganic phosphates,
            hazardous solvents, or environmentally harmful surfactants. Instead, it contains a proprietary blend of
            surfactants, builders, ph adjusters, and other ingredients, which exibit more positive environmental and
            health characteristics than
            conventional cleaning. Q7 products are truly green, bio-degradable, safe and easy
            to use, and formulated with cutting-edge technology.
          </p>
        </div>
        @* <div class="row" >
          <div class="col-md-3 col-sm-12" style="display: inline;">
            <img src="..\lib\img\endorsements\NSF_LOGO.png" alt="Endorsements">
          </div>
          <div class="col-md-3 col-sm-12" style="display: inline;">
            <img src="..\lib\img\endorsements\NGE_Logo.png" alt="Endorsements">
          </div>
          <div class="col-md-3 col-sm-12" style="display: inline;">
            <img src="..\lib\img\endorsements\EPA_LOGO.png" alt="Endorsements">
          </div>
          <div class="col-md-3 col-sm-12" style="display: inline;">
            <img src="..\lib\img\endorsements\EarthGreen_LOGO.png" alt="Endorsements">
          </div>
          <div class="row">
            <p>&nbsp;</p>
          </div>
          <div class="row  mx-5">
            <div class="col-6 col-sm-12" style="display: inline;">
              <img src="..\lib\img\endorsements\MadeInAmerica.png" alt="Endorsements">
            </div>
            <div class="col-6 col-sm-12" style="display: inline;">
              <img src="..\lib\img\endorsements\VeteranOwnedBusiness.png" alt="Endorsements">
            </div>
          </div>
          <div class="clearfix"></div>
        </div> *@
      </div>
    </div>
  </div>
  <!--========== END COMPONENT ABOUT DEVICES ==========-->
  <!--========== Begin History Component ==========-->
  <div class="component-about-devices" id="history">
    <div class="container padding-in-box-130-120">
      <div class="title">
        <h2>The History of Consulting International Group</h2>
      </div>
      <div class="line-separator">
        <span></span>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p>
            In 2008, two Florida business men and a chemist collaborated formula’s in an attempt to create a green
            cleaning product. From this meeting they developed a water based, eco friendly, bio degradable, non toxic
            cleaner / degreaser that excelled and out performed any other cleaner / degreaser in its class.
            This non-flammable product was tested in the West Virginia oil & gas fields, and was found to be the most
            effective parafin disbursent ever used. Q7’s authentic water-based eco friendly formula adhere’s to the
            EPA’s strict environmental requirements.
            So we would like to thank these 3 men for developing the best eco friendly cleaner / degreaser on the market
            today. We invite you to give Q7 a test run and you will be sure to agree!
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  </div>
  <!--========== End History Component ==========-->
  <!--========== START COMPONENT SEPARATOR ACHIEVEMENTS ==========-->
  <!-- <div class="component-separator-achievements">
        <div class="parallax padding-in-box">
          <div class="container milestone">
            <div class="item col-md-3 col-sm-6">
              <p class="picture">
                <span class="fa fa-magic"></span>
              </p>
              <p class="name">
                <span class="highlight">Finished Projects</span>
              </p>
              <p class="number">
                <span>469</span>
              </p>
            </div>
            <div class="item col-md-3 col-sm-6">
              <p class="picture">
                <span class="fa fa-fire"></span>
              </p>
              <p class="name">
                <span class="highlight">Cups of Tea</span>
              </p>
              <p class="number">
                <span>21469</span>
              </p>
            </div>
            <div class="item col-md-3 col-sm-6">
              <p class="picture">
                <span class="fa fa-cogs"></span>
              </p>
              <p class="name">
                <span class="highlight">Ideas</span>
              </p>
              <p class="number">
                <span>1412</span>
              </p>
            </div>
            <div class="item col-md-3 col-sm-6">
              <p class="picture">
                <span class="fa fa-gift"></span>
              </p>
              <p class="name">
                <span class="highlight">Happy Clients</span>
              </p>
              <p class="number">
                <span>9999</span>
              </p>
            </div>
          </div>
        </div>
      </div> -->
  <!--========== END COMPONENT SEPARATOR ACHIEVEMENTS ==========-->

  <!--========== START COMPONENT FEATURES WORKS ==========-->
  <!-- <div class="component-featured-works" id="services">
      <div class="padding-in-box-top">
        <div class="title">
          <h2>Featured Works</h2>
        </div>
        <div class="line-separator h80"><span></span></div>
        <div class="contain-gallery" id="gallery">
          <ul>
            <li class="item">
              <img src="assets/image/gallery-image-1.jpg" alt="gallery-image-1">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>girl</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>photography</span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-2.jpg" alt="gallery-image-2">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>design</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>illustrator </span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-3.jpg" alt="gallery-image-3">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>girl</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>photography</span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-4.jpg" alt="gallery-image-4">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>girl</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>sport</span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-5.jpg" alt="gallery-image-5">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>man</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>sport</span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-1.jpg" alt="gallery-image-6">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>girl</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>photography</span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-2.jpg" alt="gallery-image-7">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>design</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>illustrator </span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-3.jpg" alt="gallery-image-8">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>girl</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>photography</span>
                </p>
              </div>
            </li>
            <li class="item">
              <img src="assets/image/gallery-image-4.jpg" alt="gallery-image-9">
              <div class="content">
                <p class="title-image">SMILE With Passion</p>
                <p class="tags">
                  <span>girl</span>
                  <span class="separator-tags"> &#47; </span>
                  <span>sport</span>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div> -->
  <!--========== END COMPONENT FEATURES WORKS ==========-->

  <!--========== START COMPONENT WHY CHOOSE ==========-->
  @* <div class="component-why-choose">
    <div class="container padding-in-box-130-100">
      <div class="title" id="why-choose">
        <h2>Why Choose Q7?</h2>
      </div>
      <div class="line-separator h80"><span></span></div>
      <div id="navigation-services" class="row">
        <div class="col-sm-5 col-xs-12">
          <div class="why-choose">
            <img src="..\lib\img\1-Gallon-case.jpg" alt="Q7 Clean - 1 Gallon Size" class="photo-in-iMac" />
          </div>
        </div>
        <div class="col-sm-7 col-xs-12">
          <div class="description">
            <p>
              Originally formulated to clean oil wells -- the actual well -- not the surrounding area.

              Oil wells can become clogged and always require regular cleaning.
              In the past operators would use time-consuming, expensive physical solutions that often didn't work.
              This could mean the operator may have to remove the clogged pipe and replace it.
              A costly process.</p>
            <p>Our product breaks clogs and cleans the entire system. Just five gallons of Q7 for every
              15,000 feet of pipe will clean the system and defeat the clog. </p>
            <p>
              Q7 is EPA certified. This means the operator won't have to extract the product after cleaning. Q7
              can be left in the well.
              This process can save hundreds of thousands of dollars and is safe for the environment.
            </p>
          </div>
          <div class="right">
            <div>
              <div class="icon">
                <span class="fa fa-globe"></span>
              </div>
              <div class="details col-sm-10">
                <h3>EPA Certified Safe</h3>
                <p>Certified safe for the environment, your worksite and employees.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="icon">
                <span class="fa fa-gift"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Saves Time and Money</h3>
                <p>Q7 Cleaner and Degreaser is fast-acting and inexpensive</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="icon">
                <span class="fa fa-heart"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Passionate</h3>
                <p>We are passionate about our product and supporting your business.</p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div>
              <div class="icon">
                <span class="fa fa-comment"></span>
              </div>
              <div class="details col-sm-10">
                <h3>Always a phone call (or email) away!</h3>
                <p>You can always call or email us with questions (or just to say 'hey'). We'd love to hear from you. <a
                    href="#contact">Contact Us</a></p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> *@
  <!--========== END COMPONENT WHY CHOOSE ==========-->

  <!--========== START COMPONENT BOXES STYLE 2 ==========-->
  <!-- <div class="component-boxes-style-2">
        <div class="container padding-in-box-100">
          <div class="title">
            <h2>Our Services</h2>
          </div>
          <div class="line-separator h80"><span></span></div>
          <div class="row">
            <div class="col-sm-3">
              <div class="icon">
                <span class="fa fa-tint"></span>
                <div class="arrow-bar"></div>
              </div>
              <h3>Brand & Identity</h3>
              <p>
                Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
              </p>
            </div>
            <div class="col-sm-3">
              <div class="icon">
                <span class="fa fa-tablet"></span>
                <div class="arrow-bar"></div>
              </div>
              <h3>Web Design</h3>
              <p>
                Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
              </p>
            </div>
            <div class="col-sm-3">
              <div class="icon">
                <span class="fa fa-rocket"></span>
                <div class="arrow-bar"></div>
              </div>
              <h3>Web Development</h3>
              <p>
                Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
              </p>
            </div>
            <div class="col-sm-3">
              <div class="icon">
                <span class="fa fa-umbrella"></span>
                <div class="arrow-bar"></div>
              </div>
              <h3>Logo Design</h3>
              <p>
                Maecenas et tellus at dolor molestie blandit eu eget lacus. Quisque consectetur nisl sed mi sodales.
              </p>
            </div>
          </div>
        </div>
      </div> -->
  <!--========== END COMPONENT BOXES STYLE 2 ==========-->

  <!--========== START COMPONENT SEPARATOR PROGRESS ==========-->
  <!-- <div class="component-separator-progress" id="skills">
      <div class="container padding-in-box-100">
        <div class="title">
          <h2>Our Skills</h2>
        </div>
        <div class="line-separator h80"><span></span></div>
        <div class="row">
          <div class="col-sm-3">
            <div class="progress-bar-round-container">
              <div class=" progress-bar-round" data-progress="30"></div>
            </div>
            <h3>Adobe Photoshop</h3>
            <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
          </div>
          <div class="col-sm-3">
            <div class="progress-bar-round-container">
              <div class="progress-bar-round" data-progress="52"></div>
            </div>
            <h3>Logo Design</h3>
            <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
          </div>
          <div class="col-sm-3">
            <div class="progress-bar-round-container">
              <div class="progress-bar-round" data-progress="75"></div>
            </div>
            <h3>Brand Indentity</h3>
            <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
          </div>
          <div class="col-sm-3">
            <div class="progress-bar-round-container">
              <div class="progress-bar-round" data-progress="100"></div>
            </div>
            <h3>Brand Marketing</h3>
            <p>Proin varius nunc quis condimentum viverra. Aliquam ante turpis.viverra nec malesuada.</p>
          </div>
        </div>
      </div>
    </div> -->
  <!--========== END COMPONENT SEPARATOR PROGRESS ==========-->

  <!--========== START COMPONENT OUR TEAM ROW ==========-->
  @* <div class="component-our-team-row" id="team">
    <div class="container padding-in-box-100-120 ">
      <div class="title">
        <h2>Meet Our Team</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-6 col-xs-12" id='Bruce'>
          <div class="team-talon-row">
            <div class="photo-container">
              <figure>
                <img src="..\lib\img\SiteProfilePic.png" alt="team-image" />
              </figure>
            </div>
            <div class="name-and-occupation">
              <h3>Bruce Kaplan</h3>
              <p class="occupation">
                <span>-</span>
                Owner and Chief Degreaser
                <span>-</span>
              </p>
            </div>
            <div class="description">
              <p>Bruce Kaplan is a 14-year disabled veteran of the United States Military. After leaving the service
                Bruce negotiated exclusive rights to be a distrubutor of Q7 Clean. </p>
            </div>
            <div class="social">
              <ul>
                <li><a href="https://www.facebook.com/Q7Clean/" target="_blank"><span
                      class="fa fa-facebook"></span></a></li>
                <li><a href="mailto:bruce@q7clean.com" target="_blank"><i class="fa fa-comment"></i></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="team-talon-row">
            <div class="photo-container ">
              <figure>
                <img src="..\lib\img\small-Van-Smith.png" alt="team-image" />
              </figure>
            </div>
            <div class="name-and-occupation">
              <h3>Van Smith Company, Inc.</h3>
              <p class="occupation">
                <span>-</span>
                Certified Reseller
                <span>-</span>
              </p>
            </div>
            <div class="description">
              <p>Our primary realm is chemical solutions, but we do much more for our business clients. We are
                versatile problem solvers, and each client’s needs determine the recommended products and vendors.

                In effect, Van Smith is the front end for a select group of manufacturers who share a commitment to
                problem solving. Van Smith’s suppliers have the capacity and the willingness to invest time and
                resources in research and development to address a client’s particular issues. In this way, Van Smith
                connects the real world to the lab — and then to production or manufacturing. </p>
            </div>
            <div class="social">
              <ul>
                <li><a href="mailto:info@vansmithco.com" target="_blank"><i class="fa fa-comment"></i></span></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- additional employees commented out.<div class="col-sm-3 col-xs-12">
            <div class="team-talon-row">
              <div class="photo-container">
                <figure>
                  <img src="assets/image/team-image-3.jpg" alt="team-image"/>
                </figure>
              </div>
              <div class="name-and-occupation">
                <h3>Liorite Caprice</h3>
                <p class="occupation">
                  <span>-</span>
                  Designer
                  <span>-</span>
                </p>
              </div>
              <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus risus, elementum eu neque.</p>
              </div>
              <div class="social">
                <ul>
                  <li><a href=""><span class="fa fa-twitter"></span></a></li>
                  <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                  <li><a href=""><span class="fa fa-facebook"></span></a></li>
                  <li><a href=""><span class="fa fa-pinterest"></span></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-12">
            <div class="team-talon-row">
              <div class="photo-container">
                <figure>
                  <img src="assets/image/team-image-4.jpg" alt="team-image"/>
                </figure>
              </div>
              <div class="name-and-occupation">
                <h3>Xenia Filomena</h3>
                <p class="occupation">
                  <span>-</span>
                  Designer
                  <span>-</span>
                </p>
              </div>
              <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lectus risus, elementum eu neque.</p>
              </div>
              <div class="social">
                <ul>
                  <li><a href=""><span class="fa fa-twitter"></span></a></li>
                  <li><a href=""><span class="fa fa-google-plus"></span></a></li>
                  <li><a href=""><span class="fa fa-facebook"></span></a></li>
                  <li><a href=""><span class="fa fa-pinterest"></span></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </div> -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div> *@
  <!--========== END COMPONENT OUR TEAM ROW ==========-->

  <!--========== START COMPONENT SEPARATOR QUOTATION ==========-->
  @* <div class="component-separator-quotation">
    <div class="parallax padding-in-box">
      <div class="container" id="testimony">
        <ul>
          <li>
            <span class="fa fa-quote-left"></span>
            <p class="quotation">
              I used the Q7 this morning for the first time. Wow! I'm able to get things more clean than I ever have!
            </p>
            <p class="author">
              Lindsey Carroll
            </p>
          </li>
          <li>
            <span class="fa fa-quote-left"></span>
            <p class="quotation">
              All I can say is WOW! No odor, very little effort, and pet friendly. This stuff ROCKS!
            </p>
            <p class="author">
              ‎Virginia Dingler‎
            </p>
          </li>
          <li>
            <span class="fa fa-quote-left"></span>
            <p class="quotation">
              It's amazing!
            </p>
            <p class="quotation">&nbsp;</p>
            <p class="author">
              Patrick Hunter
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div> *@
  <!--========== END COMPONENT SEPARATOR QUOTATION ==========-->

  <!--========== START COMPONENT OUR CLIENTS ROW ==========-->
  <!-- <div class="component-our-clients-row" id="costumers">
        <div class="container padding-in-box-130-100">
          <div class="title">
            <h2>Our Costumers</h2>
          </div>

          <div class="line-separator h80"><span></span></div>

          <div id="carousel-costumers" class="carousel slide" data-ride="carousel">
            ###Indicators -- #comment
            <ol class="carousel-indicators">
              <li data-target="#carousel-costumers" data-slide-to="0" class="active">
                <a href="#">
                  <img src="assets/image/logo-bbpress.png" alt="bbPress"/>
                </a>
              </li>
              <li data-target="#carousel-costumers" data-slide-to="1">
                <a href="#">
                  <img src="assets/image/logo-envato.png" alt="Envato"/>
                </a>
              </li>
              <li data-target="#carousel-costumers" data-slide-to="2">
                <a href="#">
                  <img src="assets/image/logo-jquery.png" alt="jQuery"/>
                </a>
              </li>
              <li data-target="#carousel-costumers" data-slide-to="3">
                <a href="#">
                  <img src="assets/image/logo-themeforest.png" alt="Themeforest"/>
                </a>
              </li>
              <li data-target="#carousel-costumers" data-slide-to="4">
                <a href="#">
                  <img src="assets/image/logo-woocommerce.png" alt="WooCommerce"/>
                </a>
              </li>
            </ol>

            <-- Wrapper for slides -- # comment
            <div class="carousel-inner">
              <div class="item bbPress active">
                <div class="carousel-caption">
                  <div class="description">
                    <p>&#34;L Integer sagittis lobortis tortor lobortis semper. Praesent in tempus dolor.
                      Morbi fringilla iaculis augue. Mauris adipiscing tempor lacus non
                      condimentum. Proin quis dui at ligula fermentum accumsan id in enim.&#34;
                    </p>
                    <p class="author">Machli Dareios, bbPress</p>
                  </div>
                </div>
              </div>
              <div class="item Envato">
                <div class="carousel-caption">
                  <div class="description">
                    <p>
                      &#34;Etiam rutrum erat ac nisl accumsan pellentesque. Fusce venenatis ligula nisl,
                      in vulputate velit congue vel. Aliquam interdum, leo vel dapibus feugiat,
                      sem mi dictum nibh, eget dignissim ante enim nec libero. Morbi a varius risus,
                      sit amet auctor mauris.&#34;
                    </p>
                    <p class="author">Aelianus Erhard, Envato</p>
                  </div>
                </div>
              </div>
              <div class="item jQuery">
                <div class="carousel-caption">
                  <div class="description">
                    <p>
                      &#34;Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span>Nullam dolor felis, congue a magna eget</span>,
                      malesuada aliquet tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                      ac turpis egestas. Vestibulum pharetra quis tellus sit amet placerat. Curabitur in tincidunt turpis.&#34;
                    </p>
                    <p class="author">Eran Diklah, jQuery</p>
                  </div>
                </div>
              </div>
              <div class="item Themeforest">
                <div class="carousel-caption">
                  <div class="description">
                    <p>
                      &#34;Suspendisse lacinia, orci et rhoncus gravida, urna felis vulputate leo, id imperdiet massa quam sit amet mi.&#34;
                    </p>
                    <p class="author">Akio Pratap, Themeforest</p>
                  </div>
                </div>
              </div>
              <div class="item WooCommerce">
                <div class="carousel-caption">
                  <div class="description">
                    <p>
                      &#34;Nulla pulvinar accumsan convallis. Pellentesque molestie volutpat lorem nec semper. Nullam ac
                      magna ac dui porta fringilla. Vivamus eu velit eget enim lobortis sodales id at leo. Pellentesque
                      vitae mattis leo.In hac habitasse platea dictumst. Proin tincidunt purus eget libero tempor, non
                      pellentesque velit semper.&#34;
                    </p>
                    <p class="author">Nayden Marcellus, WooCommerce</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  <!--========== END COMPONENT OUR CLIENTS ROW ==========-->

  <!--========== START COMPONENT RECENT POSTS ==========-->
  <!-- <div class="component-recent-posts">
          <div class="container padding-in-box">
            <div class="title">
              <h2>Recent posts</h2>
            </div>
            <div class="line-separator h80"><span></span></div>
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <a href="#" class="image-posted">
                  <img src="assets/image/image-posted-1.jpg" alt="image-posted-1"/>
                </a>
                <div class="contain">
                  <h3 class="title-post">Requiem for a dream</h3>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam in
                      congue est. Aenean ultrices orci massa, id tempor mi mattis nec.
                    </p>
                  </div>
                  <div class="post-data">
                    <p><span class="fa fa-clock-o"></span>
                      23/04/2017
                    </p>
                    <p><span class="fa fa-user"></span>
                      Wephisto
                    </p>
                    <p><span class="fa fa-comment"></span>
                      150
                    </p>
                    <p><span class="fa fa-heart"></span>
                      421
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <a href="#" class="image-posted">
                  <img src="assets/image/image-posted-2.jpg" alt="image-posted-2"/>
                </a>
                <div class="contain">
                  <h3 class="title-post">Let have a drink togeder</h3>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam in
                      congue est. Aenean ultrices orci massa, id tempor mi mattis nec.
                    </p>
                  </div>
                  <div class="post-data">
                    <p><span class="fa fa-clock-o"></span>
                      23/04/2017
                    </p>
                    <p><span class="fa fa-user"></span>
                      Wephisto
                    </p>
                    <p><span class="fa fa-comment"></span>
                      150
                    </p>
                    <p><span class="fa fa-heart"></span>
                      312
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4">
                <a href="#" class="image-posted">
                  <img src="assets/image/image-posted-3.jpg" alt="image-posted-3"/>
                </a>
                <div class="contain">
                  <h3 class="title-post">How to paint a woman body</h3>
                  <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Nam in
                      congue est. Aenean ultrices orci massa, id tempor mi mattis nec.
                    </p>
                  </div>
                  <div class="post-data">
                    <p><span class="fa fa-clock-o"></span>
                      23/04/2017
                    </p>
                    <p><span class="fa fa-user"></span>
                      Wephisto
                    </p>
                    <p><span class="fa fa-comment"></span>
                      150
                    </p>
                    <p><span class="fa fa-heart"></span>
                      150
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
  <!--========== END COMPONENT RECENT POSTS ==========-->

  <!--========== START COMPONENT SEPARATOR NOTIFICATION ==========-->
  <!-- <div class="component-separator-notification">
        <div class="parallax padding-in-box">
          <div class="container">
            <ul>
              <li>
                <p class="social-icon">
                  <span class="fa fa-twitter"></span>
                </p>
                <p class="author">
                  Erase
                </p>
                <p class="quotation">
                  Aliquam sit amet erat a felis eleifend luctus. Cras nisl nibh, ultrices cursus commodo non,
                  ullamcorper id elit. Donec quam elit, mattis euismod ornare sit amet, consectetur eget lorem.
                </p>
                <p class="time-posted">
                  3 hours ago
                </p>
              </li>
              <li>
                <p class="social-icon">
                  <span class="fa fa-twitter"></span>
                </p>
                <p class="author">
                  erase
                </p>
                <p class="quotation">
                  Aliquam sit amet erat a felis eleifend luctus. Cras nisl nibh, ultrices cursus commodo non,
                  ullamcorper id elit. Donec quam elit, mattis euismod ornare sit amet, consectetur eget lorem.
                </p>
                <p class="time-posted">
                  3 hours ago
                </p>
              </li>
              <li>
                <p class="social-icon">
                  <span class="fa fa-twitter"></span>
                </p>
                <p class="author">
                  erase
                </p>
                <p class="quotation">
                  Aliquam sit amet erat a felis eleifend luctus. Cras nisl nibh, ultrices cursus commodo non,
                  ullamcorper id elit. Donec quam elit, mattis euismod ornare sit amet, consectetur eget lorem.
                </p>
                <p class="time-posted">
                  3 hours ago
                </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
      </div> -->
  <!--========== END COMPONENT SEPARATOR NOTIFICATION ==========-->

  <!--========== START COMPONENT PORTFOLIO ==========-->
  @* <div class="component-portfolio">
    <div class="content-portfolio padding-in-box-top">
      <div class="title" id="portfolio">
        <h2>Product Images</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div id="portfolio-venus" class="portfolio-venus portfolio-venus-view-items layout-gallery-space">
        <!-- <div class="portfolio-venus-filter">
            <ul>
              <li class="active" data-group="all"><a href="#">Show all</a></li>
              <li data-group="people"><a href="#">People</a></li>
              <li data-group="illustrator"><a href="#">Illustrator</a></li>
              <li data-group="sport"><a href="#">Sports</a></li>
              <li data-group="design"><a href="#">Design</a></li>
            </ul>
          </div> -->
        <div class="portfolio-venus-items portfolio-venus-columns-4">
          <div class="portfolio-venus-item" data-groups='["illustrator" , "design"]'>
            <div class="portfolio-venus-overlay-wrapper clearfix">
              <img class="portfolio-venus-img" src="..\lib\img\Portfolio_1.png" alt="portfolio-image">
              <!-- <div class="portfolio-venus-overlay">
                  <a href="..\lib\img\Portfolio1.png" data-featherlight="image">
                    <div class="sp-vertical-middle">
                      <div>
                        <p class="title-image">Smile With Passion</p>
                        <p class="tags">
                          <span>design</span>
                          <span class="separator-tags"> &#47; </span>
                          <span>illustrator</span>
                        </p>
                      </div>
                    </div>
                  </a>
                </div> -->
            </div>
          </div>
          <div class="portfolio-venus-item" data-groups='["illustrator" , "design"]'>
            <div class="portfolio-venus-overlay-wrapper clearfix">
              <img class="portfolio-venus-img" src="..\lib\img\Portfolio_3.png" alt="portfolio-image">
              <!-- <div class="portfolio-venus-overlay">
                  <a href="..\lib\img\Portfolio1.png" data-featherlight="image">
                    <div class="sp-vertical-middle">
                      <div>
                        <p class="title-image">Smile With Passion</p>
                        <p class="tags">
                          <span>design</span>
                          <span class="separator-tags"> &#47; </span>
                          <span>illustrator</span>
                        </p>
                      </div>
                    </div>
                  </a>
                </div> -->
            </div>
          </div>
          <div class="portfolio-venus-item" data-groups='["illustrator" , "design"]'>
            <div class="portfolio-venus-overlay-wrapper clearfix">
              <img class="portfolio-venus-img" src="..\lib\img\Portfolio_5.png" alt="portfolio-image">
              <!-- <div class="portfolio-venus-overlay">
                  <a href="..\lib\img\Portfolio1.png" data-featherlight="image">
                    <div class="sp-vertical-middle">
                      <div>
                        <p class="title-image">Smile With Passion</p>
                        <p class="tags">
                          <span>design</span>
                          <span class="separator-tags"> &#47; </span>
                          <span>illustrator</span>
                        </p>
                      </div>
                    </div>
                  </a>
                </div> -->
            </div>
          </div>
          <div class="portfolio-venus-item" data-groups='["illustrator" , "design"]'>
            <div class="portfolio-venus-overlay-wrapper clearfix">
              <img class="portfolio-venus-img" src="..\lib\img\Portfolio_8.png" alt="portfolio-image">
              <!-- <div class="portfolio-venus-overlay">
                  <a href="..\lib\img\Portfolio1.png" data-featherlight="image">
                    <div class="sp-vertical-middle">
                      <div>
                        <p class="title-image">Smile With Passion</p>
                        <p class="tags">
                          <span>design</span>
                          <span class="separator-tags"> &#47; </span>
                          <span>illustrator</span>
                        </p>
                      </div>
                    </div>
                  </a>
                </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> *@
  <!--========== END COMPONENT PORTFOLIO ==========-->

  <!--========== START COMPONENT PRICE TABLE ==========-->
  @* <div class="component-price-table" id="uses">
    <div class="container padding-in-box-top">
      <div class="title">
        <h2>What Can Q7 Do for You?</h2>
      </div>

      <div class="line-separator h80"><span></span></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="talon">
            <div class="price">
              <div class="center">
                <h3>
                  Residential
                </h3>

              </div>
            </div>
            <div class="title-talon">
              <h2>Residential Applications</h2>
            </div>
            <ul class="benefits">
              <li>Bathrooms (Tubs/Sinks/Toilets)</li>
              <li>Kitchens (Appliances/Shelves/Counters)</li>
              <li>Flooring</li>
              <li>Laundry Pre-treatment (for oily stains)</li>
              <li>Pool Cleaner</li>
              <li>Eyeglass Cleaner</li>
            </ul>
            <a href="#contact" target="_blank"
              class="btn btn-primary">Call Us For Pricing</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="talon">
            <div class="price">
              <div class="center">
                <h3>
                  Commercial
                </h3>

              </div>
            </div>
            <div class="title-talon">
              <h2>Commercial Applications</h2>
            </div>
            <ul class="benefits">
              <li>Kitchens</li>
              <li>Floors</li>
              <li>FRP (Fire Retardant Panels)</li>
              <li>Hood Systems and Filters</li>
              <li>Dumpster Area</li>
              <li>Grease Traps</li>
            </ul>
            <a href="#contact" target="_blank"
              class="btn btn-primary">Call Us For Pricing</a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="talon">
            <div class="price">
              <div class="center">
                <h3>
                  Marine
                </h3>

              </div>
            </div>
            <div class="title-talon">
              <h2>Marine Applications</h2>
            </div>
            <ul class="benefits">
              <li>Bilges</li>
              <li>Engines</li>
              <li>Decks and Decking</li>
              <li>Holds</li>
              <li>Kitchens</li>
              <li>Hulls</li>
            </ul>
            <a href="#contact" target="_blank"
              class="btn btn-primary">Call Us For Pricing</a>
          </div>
        </div>
      </div>
    </div>
  </div> *@
  </div>
  <!--========== END COMPONENT PRICE TABLE ==========-->

  <!--========== START COMPONENT EMAIL AND MAP ==========-->
  <div class="component-contact-email-and-map padding-in-box-130-100" id="spacer">&nbsp;</div>
  <!-- <div class="component-contact-email-and-map padding-in-box-130-100" id="contact">
      <div class="title">
        <h2>Contact Us</h2>
      </div>
      <div class="line-separator"><span></span></div>
      <p class="description">You can send us a message very simple, just click on send a message button below</p>

      <div class="relative">
        <div class="container">
          <div class="row">
            <form class="col-xs-11 col-sm-9 form-1">
              <div class="form-group col-sm-6 col-xs-12">
                <label for="exampleInputText1">Your Name&#42;:</label>
                <input type="text" class="form-control" id="exampleInputText1">
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <label for="exampleInputEmail1">Your Email&#42;:</label>
                <input type="email" class="form-control" id="exampleInputEmail1">
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <label for="exampleInputText2">Your Phone Number</label>
                <input type="text" class="form-control" id="exampleInputText2">
              </div>
              <div class="form-group col-sm-6 col-xs-12">
                <label for="exampleInputText3">Your Website</label>
                <input type="text" class="form-control" id="exampleInputText3">
              </div>
              <div class="form-group col-sm-12 col-xs-12">
                <label for="exampleInputText4">Type Your Message Here</label>
                <textarea rows="4" cols="50" class="form-control" id="exampleInputText4"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> -->
  <!--========== END COMPONENT EMAIL AND MAP ==========-->

  <!--========== START COMPONENT SUBSCRIPTION ==========-->
  <!-- <div class="component-subscription">
          <div class="container">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="text-center-sm">subscribe to my email list</h3>
                </div>
                <div class="col-md-4">
                  <input type="text" name="email_address" placeholder="Your Email Address"/>
                </div>
                <div class="col-md-2">
                  <button type="submit" class="button-action btn btn-primary">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div> -->
  <!--========== END COMPONENT SUBSCRIPTION ==========-->

  <!--========== START COMPONENT FOOTER ==========-->
  <div class="component-footer" id="contact">
    <div id="navigation-contact-us" class="container padding-in-box">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="logo-contain">
            <img class="logo" src="..\lib\img\logomain.png" alt="logo-footer" />
          </div>
          &nbsp;
          <div class="clearfix"></div>
          <hr class="separator visible-xs visible-sm" />
        </div>
        <!-- <div class="col-xs-12 col-sm-4 col-md-3 recent-post">
              <div class="title-widget">
                <p>Recent Posts</p>
              </div>
              <div class="post row">
                <div class="col-sm-3 col-xs-12 contain-image-post">
                  <img src="assets/image/wiget-posted-recent-image-1.jpg" alt="img-1"/>
                  <a href="#" class="hover-image"></a>
                </div>
                <div class="col-sm-9 col-xs-12 contain-detail-post">
                  <p class="title-post">Interdum et malesuada fames ac ante ipsum.</p>
                  <p class="post-date">January 15, 2017</p>
                </div>
              </div>
              <div class="post row">
                <div class="col-sm-3 col-xs-12 contain-image-post">
                  <img src="assets/image/wiget-posted-recent-image-2.jpg" alt="img-2"/>
                  <a href="#" class="hover-image"></a>
                </div>
                <div class="col-sm-9 col-xs-12 contain-detail-post">
                  <p class="title-post">Interdum et malesuada fames ac ante ipsum.</p>
                  <p class="post-date">January 15, 2017</p>
                </div>
              </div>
              <div class="post row">
                <div class="col-sm-3 col-xs-12 contain-image-post">test
                  <img src="assets/image/wiget-posted-recent-image-3.jpg" alt="img-3"/>
                  <a href="#" class="hover-image"></a>
                </div>
                <div class="col-sm-9 col-xs-12 contain-detail-post">
                  <p class="title-post">Interdum et malesuada fames ac ante ipsum.</p>
                  <p class="post-date">January 15, 2017</p>
                </div>
              </div>
            </div>  -->
        <div class="col-xs-12 col-sm-6 col-md-6 contact-us">
          <div class="title-widget">
            <p>Contact Us</p>
          </div>
          <ul>
            <li>Phone: <span>+1 (757) 328-7254 </span></li>
            <li>Email: <span>Bruce@q7clean.com</span></li>
          </ul>
          <div class="follow-us">
            <div class="title-widget">
              <!-- <p>Follow Us</p> -->
              <p>Coming Soon: </p>
            </div>
            <ul>
              <!-- <li><a href="#"><span class="fa fa-google-plus"></span></a></li> -->
              <li><a href="https://www.facebook.com/Q7Clean/"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.youtube.com/channel/UCBPQkfSobjTjvrc6JCmQ-ow?view_as=subscriber"><i class="fab fa-youtube-square fa-lg"></i></a></li>
              <li><a href="https://www.instagram.com/q7cleaner/"><i class="fab fa-instagram fa-lg"></i></a></li>
              <!-- <li><a href="#"><span class="fa fa-linkedin"></span></a></li> -->
              <!-- <li><a href="#"><span class="fa fa-skype"></span></a></li> -->
              <!-- <li><a href="#"><span class="fa fa-instagram"></span></a></li> -->
              <!-- <li><a href="#"><span class="fa fa-vimeo-square"></span></a></li> -->
            </ul>
          </div>
        </div>
        <!-- <div class="col-xs-12 col-sm-4 col-md-3 flickr-widget">
              <div class="title-widget">
                <p>Flickr Widget</p>
              </div>
              <ul>
                <li>
                  <img src="assets/image/_footer-widget-image-1.jpg" alt="widget-image-1"/>
                  <div class="hover-image"></div>
                </li>
                <li>
                  <img src="assets/image/_footer-widget-image-2.jpg" alt="widget-image-2"/>
                  <div class="hover-image"></div>
                </li>
                <li>
                  <img src="assets/image/_footer-widget-image-3.jpg" alt="widget-image-3"/>
                  <div class="hover-image"></div>
                </li>
                <li>
                  <img src="assets/image/_footer-widget-image-4.jpg" alt="widget-image-4"/>
                  <div class="hover-image"></div>
                </li>
                <li>
                  <img src="assets/image/_footer-widget-image-5.jpg" alt="widget-image-5"/>
                  <div class="hover-image"></div>
                </li>
                <li>
                  <img src="assets/image/_footer-widget-image-6.jpg" alt="widget-image-6"/>
                  <div class="hover-image"></div>
                </li>
              </ul>
            </div> -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!--========== END COMPONENT FOOTER ==========-->

  <!--========== START COMPONENT FOOTER BAR ==========-->
  <div class="component-footer-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p>2020 &copy; <a href="http://www.q7clean.com">Q7 Clean</a> . All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <!--========== END COMPONENT FOOTER BAR ==========-->
   


